.paper {
    width: 30rem;
    height: 25rem;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
  }
  .paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
  }

  .pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 25px, teal 26px);
  }

  .content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-family: 'Liu Jian Mao Cao', cursive;
  }
