.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #000;
    margin: 1rem;
}
.circle.level2 {
    background: red;
}
.circle.level3 {
    background: yellow;
}
.circle.active {
    background: url('./alpaca.jpg') no-repeat center center/cover;
}
.circle.active.clicked {
    background:  url('./brain.jpg') no-repeat center center/cover;
    transition: background 2s ease-in;
}