@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(255,101,199);
  background: linear-gradient(0deg, rgba(255,101,199,1) 0%, rgba(255,139,46,1) 100%);
  height: 100vh;
  font-family: 'Concert One', cursive;
}
.container--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header--main {
  font-size: 5rem;
  margin: 2rem 0;
}
.score-box {
  height: 100px;
  width: 300px;
  background: #000;
  color: hotpink;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}
.circle-box {
  display: flex;
}

.btn {
  background: #000;
  border: none;
  color: hotpink;
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem;
}
.hidden {
  display: none;
}