.postlist-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/* .postlist-item {
    padding: 2rem;
    height: 20rem;
    width: 15rem;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1rem;
} */