.post-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.post-img {
    flex: 2;
    display: grid;
    justify-content: center;
    align-items: center;
}

.post-content {
    flex: 3 2;
}

.post-content h1 {
    margin-bottom: 1rem;
}